body {
    font-family: ‘Outfit’, sans-serif;
}

.footer-bg {
    background-color: #252d47 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.copy:hover {
    color: white;
    background-color: #252d47 !important;
}

.header {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.bg-grey {
    background: rgba(38, 46, 71, 0.06);
}

.min-height {
    min-height: 85vh;
}

.menu-icon {
    height: 80px;
}

a {
    text-decoration: none;
    color: black;
}
